body {
    text-align: center;
}

#container {
    width: 505px;
    height: 606px;
    margin: 0 auto;
    position: relative;
}

.empty-heart,
.full-heart {
    width: 30px;
    height: 30px;
}

.full-heart {
    position: absolute;
    top: 0;
    left: 0;
}

#heart-1 {
    position: absolute;
    top: 60px;
    left: 5px;
}

#heart-2 {
    position: absolute;
    top: 60px;
    left: 35px;
}

#heart-3 {
    position: absolute;
    top: 60px;
    left: 65px;
}
